/* App.css */


html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;

  /* Prevent scroll bars */
  /*background: linear-gradient(to bottom right, #6200ee, #ffde59); /* Diagonal gradient background */
  /*color: white*/
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95vw;
  overflow-x: hidden;
}

.container {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}


.container main {
  max-width: 95vw;
}

.home-page-header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  gap: 8px;
}

.home-page-header-section h1 {
  text-align: center;
}

.created-by-section {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li {
  margin-bottom: 16px;
}

.nav-link {
  position: relative;
  display: block;
  text-decoration: none;
}

.nav-link img {
  width: 100%;
  /* Ensure the image takes up the entire space of the container */
  border-radius: 8px;
  /* Optional: add rounded corners to the images */
}

.nav-link span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: white;
  font-weight: bold;
}


header,
main,
footer {
  /*margin-bottom: 20px;*/
}

/* Add styles for the logo */
.appre-logo img {
  max-width: 100px;
  /* Adjust the width as needed */
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.overlay.show {
  display: block;
}


.home-container {
  display: block !important;
  height: 90vh;
  scroll-snap-type: y proximity;
  overscroll-behavior-y: contain;
}

.carousel-container {
  scroll-snap-align: start;
}



.calculator-tab-section {
  scroll-snap-align: start;
}

.footer-container {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.header-wrapper {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}


@media (min-width: 640px) {

  html,
  body {
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .container {
    scrollbar-width: thin;
    scrollbar-color: #515151 #ddd;
    padding-bottom: 1rem;
  }

  .container::-webkit-scrollbar {
    display: contents;
    /* Safari and Chrome */
    width: 10px !important;
    height: 10px !important;
  }

  .container::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, #515151 0%, #515151 100%) !important;
    border-radius: 5px !important;
  }

  .container::-webkit-scrollbar-track {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .container main {
    max-width: 650px;
  }
}